<div class='container' style='margin-top: 10px;'>
  <h5>Course: {{currentCourse}}</h5>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Topic</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody *ngIf="topics">
      <tr scope="row" *ngFor="let topic of topics">
        <td>{{topic.topic_name}}</td>
        <td align="right">
          <button type="button" class="btn btn-outline-success" (click)="setCurrentTopic(topic.topic_name)" [routerLink]="[topic.tid, 'questions']">Select</button>
        </td>
      </tr>
    </tbody>
  </table>
  <button id="next" class="btn btn-primary" style='margin-top: 10px;' (click)="back()">Back</button>
</div>
